<div class="page-header">
  <h1>Eat Da Burger!</h1>
</div>


<form class="navbar-form navbar-center create-update-form" role="search" action="/" method="POST">
  <div class="form-group">
    <input type="text" name=burgername class="form-control" placeholder="Add Burger">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>




<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="sleepy" value="true">
          <button type="submit">SLEEP TIME!</button>
        </form>
        {{> cats/delete-cat}}
      </li>
    {{/unless}}
  {{/each}}
</ul>
