<div class="row">
  <div class="col-md-12 ">
    <div class="jumbotron" style="background-color:black">
      <h1 style="text-align: center;color: teal">Eat The Burger!</h1>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="/" method="POST">
            <input type="text" name="burgername" style="width:80%" required>
            <button type="submit" class="btn btn-md">Add Burger</button>
          </form>
        </div>
      </div>
    </div>
</div>


<div class="row">
  <div class="col-md-6">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Burger Name</th>
          <th>Nom Nom</th>
        </tr>
      </thead>
      <tbody>
        {{#each burgers}}
          {{#unless this.devoured}}
            <tr>
              <td>{{this.burger_name}}</td>
              <td>
                <form action="/?_method=PUT" method="POST">
                  <input type="hidden" name="burgername" value="{{this.burger_name}}">
                  <input type="hidden" name="id" value="{{this.id}}">
                  <input type="hidden" name="devoured" value="1">
                  <button type="submit" class="btn btn-md">Devour</button>
                </form>
              </td>
            </tr>
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Burger Name</th>
          <th>Devoured State</th>
        </tr>
      </thead>
      <tbody>
        {{#each burgers}}
          {{#if this.devoured}}
            <tr>
              <td>{{this.burger_name}}</td>
              <td>Devoured</td>
            </tr>
          {{/if}}
        {{/each}}
      </tbody>
      
    </table>
  </div>
</div>